.some-class 
{ 
	float:left; 
	clear:none; 
}

#my_content
{
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: 90px;
}

#header_div
{
	margin-left: auto;
	margin-right: auto;
}

#radio_div > label 
{
	float:left;
	clear:none; 
	display:block; 
	padding: 2px 1em 0 0; 
}

input[type=radio], input.radio 
{ 
	float:left; 
	clear:none; 
	margin: 2px 10px 0 2px; 
}

#tnba_number_div
{
	width: 100%;
	height: 100%;
	text-align: center;
}

#member_info_div
{
	width: 100%;
	height: 100%;
	text-align: center;
}

#name_div
{
	text-align: center;
}

#by_name_div
{
	text-align: center;
}

#radio_div
{
	margin-left: 30%;
	height: 70px;
}

#by_name_label_div
{
	float: left;
	width: 30%;
}

#by_tnba_number_label_div
{

}